# Игнорировать каталоги виртуального окружения
venv/
env/
.venv/
.env/

# Игнорировать файлы кэша Python
__pycache__/
*.py[cod]

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать файлы логов
*.log

# Игнорировать скомпилированные файлы
*.so
*.egg
*.egg-info/
dist/
build/

# Игнорировать файлы базы данных
*.sqlite3
